<h1>index</h1>

<script type="text/javascript">
"use strict"; 

["yes", "no", "fa?"].forEach(f => {
  console.log(`Yeah! ${f}`);
  console.log(`Yeah!!!! ${f}`)
});

// class Hello {
//   constructor() {

//   }
//   handler(){

//   }

// }

// var obj = {
//     // __proto__
//     __proto__: Hello,
//     // Shorthand for ‘handler: handler’
//     // handler,
//     // Methods
//     toString() {
//      // Super calls
//      return "d " + super.toString();
//     },
//     // Computed (dynamic) property names
//     [ "prop_" + (() => 42)() ]: 42
// };
// console.log(obj);


// import * as math from "lib/math.js"
// console.log(math.pi)

</script>